name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v3

      - name: Lint
        run: uv run ruff check src/

      - name: Check formatting
        run: uv run ruff format --check src/

      - name: Type check
        run: uv run ty check
